html,
body {
  touch-action: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background: #191a1b;
}

body {
  color: #ffffff;
  background: #191a1b;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}